<ion-view view-title="Recuperar Contraseña">
    <ion-content class="padding">
        <form data-ng-submit="submit()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" data-ng-model="user.Email" required="required" />
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-dark">Aceptar</button>
            </div>
        </form>
    </ion-content>
</ion-view>