<ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab title="Home" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Vehiculo" icon="ion-model-s" href="#/tab/vehicle">
        <ion-nav-view name="vehicle-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Ubicacion" icon="ion-map" href="#/tab/geolocation/">
        <ion-nav-view name="geolocation-tab"></ion-nav-view>
    </ion-tab>
    <!--
    <ion-tab title="Notificacion" icon="ion-email" ui-sref="tabs.notification">
        <ion-nav-view name="notification-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cuenta" icon="ion-gear-b" ui-sref="tabs.account">
        <ion-nav-view name="account-tab"></ion-nav-view>
    </ion-tab>
        -->
</ion-tabs>