<ion-view view-title="Notificacion">
    <ion-content class="padding" data-ng-init="init();">
        <div class="list">
            <a href="" class="button button-block button-assertive" data-ng-click="emergency()">Boton de Emergencia</a>
        </div>
        <!--
        <ul class="list">
            <li class="item item-divider">
                Alertas
            </li>
            <li class="item">Alerta 1</li>
            <li class="item">Alerta 2</li>
            <li class="item">Alerta 3</li>
        </ul>
            -->
    </ion-content>
</ion-view>