<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
      <link href="css/ionic.app.css" rel="stylesheet">
    -->
  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="cordova.js"></script>
  <script src="js/lodash.js"></script>
  <!-- google maps javascript
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&amp;sensor=true"></script>
  -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true"></script>

  <!-- your app's js -->
  <script src="js/data.js"></script>
  <script src="js/app.js"></script>
</head>

<body ng-app="starter">
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view></ion-nav-view>

  <script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-dark">
      <ion-tab title="Home" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Vehiculo" icon="ion-model-s" href="#/tab/vehicle">
        <ion-nav-view name="vehicle-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Ubicacion" icon="ion-map" href="#/tab/geolocation">
        <ion-nav-view name="geolocation-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Notificacion" icon="ion-email" ui-sref="tabs.notification">
        <ion-nav-view name="notification-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Cuenta" icon="ion-gear-b" ui-sref="tabs.account">
        <ion-nav-view name="account-tab"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </script>
  <script id="templates/login.html" type="text/ng-template">
    <ion-view view-title="Iniciar Sesion">
      <ion-content class="padding">
        <form data-ng-submit="submit()">
        <div class="item" ng-show="error">
          <span data-ng-bind="error" class="error"></span>
        </div>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Usuario</span>
              <input type="text" name="username" data-ng-model="user.Username" />
            </label>
            <label class="item item-input">
              <span class="input-label">Contraseña</span>
              <input type="password" name="password" data-ng-model="user.Password" />
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-dark">Iniciar Sesion</button>
          </div>
        </form>
        </div>
        <div class="row padding">
          <div class="col">
            <a href="#/register">Nuevo Usuario</a>
          </div>
          <div class="col">
            <a href="#/forgot-password">Recordar Contraseña</a>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/register.html" type="text/ng-template">
    <ion-view view-title="Nuevo Usuario">
      <ion-content class="padding">
        <form data-ng-submit="submit()">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Usuario</span>
              <input type="text" name="username" data-ng-model="user.Username" required="required" maxlength="15" />
            </label>
            <label class="item item-input">
              <span class="input-label">Contraseña</span>
              <input type="password" name="password" data-ng-model="user.Password" required="required" maxlength="15" />
            </label>
            <label class="item item-input">
              <span class="input-label">Nombre</span>
              <input type="text" name="firstname" data-ng-model="user.Firstname" required="required" maxlength="50" />
            </label>
            <label class="item item-input">
              <span class="input-label">Apellido</span>
              <input type="text" name="lastname" data-ng-model="user.Lastname" required="required" maxlength="50" />
            </label>
            <label class="item item-input">
              <span class="input-label">Documento</span>
              <input type="text" name="documento" data-ng-model="user.Document" required="required" maxlength="8" />
            </label>
            <label class="item item-input">
              <span class="input-label">Fecha de Nacimiento</span>
              <input type="date" name="birthday" data-ng-model="user.Birthday" />
            </label>
            <label class="item item-input">
              <span class="input-label">Correo</span>
              <input type="email" name="email" data-ng-model="user.Email" required="required" maxlength="50" />
            </label>
            <label class="item item-input">
              <span class="input-label">Telefono</span>
              <input type="tel" name="phone" data-ng-model="user.Phone" required="required" maxlength="15" />
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-dark">Aceptar</button>
          </div>


        </form>
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/forgot-password.html" type="text/ng-template">
    <ion-view view-title="Recuperar Contraseña">
      <ion-content class="padding">
        <form data-ng-submit="submit()">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="email" name="email" data-ng-model="user.Email" required="required" />
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-dark">Aceptar</button>
          </div>
        </form>
      </ion-content>
    </ion-view>

  </script>
  <script id="templates/home.html" type="text/ng-template">
    <ion-view view-title="Inicio">
      <!--
      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
          Reorder
        </button>
      </ion-nav-buttons>
      -->
      <ion-nav-buttons side="right">
        <button class="button button-dark" data-ng-click="exit()">
          Salir
        </button>
      </ion-nav-buttons>
      <ion-content class="padding">
        <h2>
          Bienvenido {{user.User.Firstname}} {{user.User.Lastname}}
        </h2>
        <div class="row">
          <div class="col">
            <i class="ion ion-navigate icon-large"></i>
          </div>
          <div class="col col-75">
            <p>
              San Miguel - La Molina
            </p>
            <p>
              Surco - San Borja
            </p>
            <p>
              La Victoria - San Martin de Porres
            </p>
          </div>
        </div>
        <div class="row">
        <div class="col">
          <i class="ion ion-information icon-large"></i>
        </div>
          <div class="col col-75">
            <p>
              No existen promociones actualmente.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
          <i class="ion ion-cash icon-large"></i>
          </div>
          <div class="col col-75">
          <p>
            Tienes 150 Takci puntos.
          </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
          <i class="ion ion-chatboxes icon-large"></i>
          </div>
          <div class="col col-75">
          <p>
            <a href="#">Precauciones al tomar un taxi</a>
          </p>
          <p>
            <a href="#">Nuevas modalidades de asalto</a>
          </p>
          <p>
            <a href="#">Credenciales para taxistas empadronados </a>
          </p>
          </div>
        </div>
        <!--
        <p>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
        </p>
        <p>
          <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="item in items" item="item" href="#/item/{{item.id}}" class="item-remove-animate">
              Item {{ item.id }}
              <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
              </ion-delete-button>
              <ion-option-button class="button-assertive" ng-click="edit(item)">
                Edit
              </ion-option-button>
              <ion-option-button class="button-calm" ng-click="share(item)">
                Share
              </ion-option-button>
              <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
          </ion-list>
        </p>
        -->
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/vehicle.html" type="text/ng-template">
    <ion-view view-title="Vehiculo">
      <ion-nav-buttons side="left">
        <a href="#/tab/rate" class="button button-icon icon ion-document-text"></a>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a href="#/tab/review" class="button button-icon icon ion-star"></a>
      </ion-nav-buttons>
      <ion-content class="padding">
        <form data-ng-submit="submit()">

          <div class="list">

            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" name="plate" data-ng-model="vehicle.Plate" required="required" placeholder="Placa" />
              </label>
              <button type="button" class="button button-small button-dark" data-ng-click="submit()">Buscar</button>
            </div>

          </div>
          <ul class="list" data-ng-if="search !== undefined">
            <li class="item item-divider">
              Conductor
            </li>
            <li class="item item-thumbnail-left">
              <img src="{{search.Driver.Image}}" alt="driver" />
              <h2>
                <label data-ng-bind="search.Driver.Firstname"></label>
                <label data-ng-bind="search.Driver.Lastname"></label>
              </h2>
              <p>
                {{search.Driver.Age}} años
              </p>
              <p>
                <a href="tel:{{search.Driver.Phone}}">{{search.Driver.Phone}}</a>
              </p>
              <p>
                {{search.Driver.Rate}} <i class="ion-star"></i>
              </p>
            </li>
            <li class="item item-divider">
              Vehiculo
            </li>
            <li class="item item-thumbnail-left">
              <img src="{{search.Vehicle.Image}}" alt="driver" />
              <h2>
                {{search.Vehicle.Make}} {{search.Vehicle.Model}} {{search.Vehicle.Year}}
              </h2>
              <p>
                <i class="icon ion-stop" data-ng-style="{color: search.Vehicle.Color}"></i>
              </p>
              <p>
                {{search.Vehicle.Plate}}
              </p>
            </li>
            <li class="item item-icon-right">
              Soat
              <i class="icon" data-ng-class="{'ion-checkmark-circled feature-good': search.Vehicle.HasSoat, 'ion-close-circled feature-bad': !search.Vehicle.HasSoat}"></i>
            </li>
            <li class="item item-icon-right">
              Revision Tecnica
              <i class="icon" data-ng-class="{'ion-checkmark-circled feature-good': search.Vehicle.HasRevision, 'ion-close-circled feature-bad': !search.Vehicle.HasRevision}"></i>
            </li>
            <li class="item item-icon-right">
              Papeleta
              <i class="icon" data-ng-class="{'ion-checkmark-circled feature-good': !search.Vehicle.HasInfraction, 'ion-close-circled feature-bad': search.Vehicle.HasInfraction}"></i>
            </li>
            <li class="item item-icon-right">
              Orden de Captura
              <i class="icon" data-ng-class="{'ion-checkmark-circled feature-good': !search.Vehicle.HasCapture, 'ion-close-circled feature-bad': search.Vehicle.HasCapture}"></i>
            </li>
          </ul>
          <div class="list" data-ng-if="search !== undefined">
          <a href="#/tab/geolocation" class="button button-full button-calm"> Iniciar Servicio</a>
          </div>
        </form>


      </ion-content>
    </ion-view>

  </script>
  <script id="templates/geolocation.html" type="text/ng-template">
    <ion-view view-title="Ubicacion">
      <ion-content class="padding" data-ng-init="getLocation();">
        <div class="card">
        <!--
          <div class="item item-divider">
            Location
          </div>
          <div class="item">
            <strong>Longitude </strong> &nbsp {{position.coords.longitude}}
          </div>
          <div class="item">
            <strong>Latitude </strong> &nbsp {{position.coords.latitude}}
          </div>
          -->
          <div class="item">
            <div id="map-canvas"></div>
          </div>
        </div>
			  <div class="padding">
			{{ type }}
			{{isOnline}}
			{{isOffline}}
		  </div>
			<div class="padding">{{response | json}}</div>
        <div class="padding">

          <button class="button button-full icon-left ion-location button-positive" data-ng-click="getLocation()">
            Posicion actual
          </button>

          <button class="button button-full icon-left ion-flag button-royal" data-ng-click="startTravel()">
            Iniciar Recorrido
          </button>

          <button class="button button-full icon-left ion-navigate button-balanced" data-ng-click="gPolilyne()">
            Ver Recorrido
          </button>
		
		  <button class="button button-full icon-left ion-paper-airplane button-balanced" data-ng-click="emergencyContactStatus()">
            Enviar SMS
          </button>
		  <button class="button button-full icon-left ion-compose" data-ng-click="emergencyContactStatus2()">
            Enviar SMS 2
          </button>
	        <button class="button button-full icon-left ion-flag" data-ng-click="emergencyContactStatus3()">
              Whatsapp
            </button>
        </div>
        <div class="padding">
          <ul>
            <li data-ng-repeat="coordinate in coordinates">{{coordinate | json}}</li>
          </ul>

        </div>

      </ion-content>
    </ion-view>
  </script>
  <script id="templates/facts.html" type="text/ng-template">
    <ion-view view-title="Facts">
      <ion-content class="padding">
        <p>Banging your head against a wall uses 150 calories an hour.</p>
        <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
        <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
        <p>A cockroach will live nine days without it&apos;s head, before it starves to death.</p>
        <p>Polar bears are left handed.</p>
        <p>
          <a class="button icon ion-home" href="#/tab/home"> Home</a>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
        </p>
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/facts2.html" type="text/ng-template">
    <ion-view view-title="Also Factual">
      <ion-content class="padding">
        <p>111,111,111 x 111,111,111 = 12,345,678,987,654,321</p>
        <p>1 in every 4 Americans has appeared on T.V.</p>
        <p>11% of the world is left-handed.</p>
        <p>1 in 8 Americans has worked at a McDonalds restaurant.</p>
        <p>$283,200 is the absolute highest amount of money you can win on Jeopardy.</p>
        <p>101 Dalmatians, Peter Pan, Lady and the Tramp, and Mulan are the only Disney cartoons where both parents are present and don&apos;t die throughout the movie.</p>
        <p>
          <a class="button icon ion-home" href="#/tab/home"> Home</a>
          <a class="button icon ion-chevron-left" href="#/tab/facts"> Scientific Facts</a>
        </p>
        <div id="map" data-tap-disabled="true"></div>
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/about.html" type="text/ng-template">
    <ion-view view-title="About">
      <ion-content class="padding">
        <h3>Create hybrid mobile apps with the web technologies you love.</h3>
        <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
        <p>Built with Sass and optimized for AngularJS.</p>
        <p>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
        </p>

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide ng-repeat="item in items">
            <div style="margin-left: auto;margin-right: auto;width: 250px">
              <img ng-src="{{item.image}}" alt="{{item.name}}" style="width:250px; height:250px;" />
            </div>
          </ion-slide>
        </ion-slide-box>

      </ion-content>
    </ion-view>
  </script>
  <script id="templates/nav-stack.html" type="text/ng-template">
    <ion-view view-title="Tab Nav Stack">
      <ion-content class="padding">
        <p>
          <img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%">
        </p>
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/contact.html" type="text/ng-template">
    <ion-view title="Contact">
      <ion-content>
        <div class="list">
          <div class="item">
            @IonicFramework
          </div>
          <div class="item">
            @DriftyTeam
          </div>
          <div class="item">
            <label class="item item-input item-select">
              <div class="input-label">
                Category
              </div>
              <select ng-model="product.Category">
                <option value="Soccer" selected="selected">Soccer</option>
                <option value="Chess">Chess</option>
                <option value="Miscelaneous">Miscelaneous</option>
              </select>
            </label>
            <label class="item item-input">
              <input type="text" name="name" placeholder="Name" ng-model="product.Name" />
            </label>
            <label class="item item-input">
              <textarea placeholder="Description" name="description" ng-model="product.Description"></textarea>
            </label>
            <label class="item item-input">
              <input type="text" name="price" placeholder="Price" ng-model="product.Price" />
            </label>
            <label class="item">
              <span style="float:left;padding-top:14px;">
                Stock
              </span>
              <label class="range" style="float:right;">
                <i class="icon ion-minus-round"></i>
                <input type="range" name="stock" ng-model="product.Stock" />
                <i class="icon ion-plus-round"></i>
              </label>
            </label>
            <label class="item item-toggle">
              Active
              <label class="toggle">
                <input type="checkbox" name="isActive" ng-model="product.IsActive" ng-checked="product.IsActive" />
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </label>
            <label class="item item-checkbox-right">
              <span style="float:left;padding-top:14px;">
                Available
              </span>
              <label class="checkbox" style="float:right;">
                <input type="checkbox" name="isAvailable" ng-model="product.IsAvailable" ng-checked="product.IsAvailable" />
              </label>
              <div style="clear:both;">

              </div>
            </label>
            <div class="row">
              <div class="col">
                <button class="button button-full button-positive">
                  Save
                </button>
              </div>
              <div class="col">
                <button class="button button-full button-calm">
                  Reset
                </button>
              </div>
            </div>
          </div>
          <div class="item">
            <pre>
              {{product | json}}
            </pre>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/notification.html" type="text/ng-template">
    <ion-view view-title="Notificacion">
      <ion-content class="padding">
          <div class="list">
          <a href="" class="button button-block button-assertive">Boton de Emergencia</a>
          </div>
          <ul class="list">
            <li class="item item-divider">
              Alertas
            </li>
            <li class="item">Alerta 1</li>
            <li class="item">Alerta 2</li>
            <li class="item">Alerta 3</li>
          </ul>

      </ion-content>
    </ion-view>

  </script>
  <script id="templates/account.html" type="text/ng-template">
    <ion-view view-title="Cuenta">
      <ion-content class="padding">
          <div class="list">
          <a href="#/tab/profile" class="button button-block button-balanced">Perfil</a>
          </div>
          <div class="list">
            <a href="#/tab/emergency-contact" class="button button-block button-royal">Contactos de Emergencia</a>
          </div>
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/profile.html" type="text/ng-template">
    <ion-view view-title="Perfil">
      <ion-content class="padding">
        <form data-ng-init="init();" data-ng-submit="submit()">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Nombre</span>
              <input type="text" name="firstname" data-ng-model="user.Firstname" required="required" maxlength="50" />
            </label>
            <label class="item item-input">
              <span class="input-label">Apellido</span>
              <input type="text" name="lastname" data-ng-model="user.Lastname" required="required" maxlength="50" />
            </label>
            <label class="item item-input">
              <span class="input-label">Documento</span>
              <input type="text" name="documento" data-ng-model="user.Document" required="required" maxlength="8" />
            </label>
            <label class="item item-input">
              <span class="input-label">Fecha de Nacimiento</span>
              <input type="date" name="birthday" data-ng-model="user.Birthday" required="required" />
            </label>
            <label class="item item-input">
              <span class="input-label">Correo</span>
              <input type="email" name="email" data-ng-model="user.Email" required="required" maxlength="50" />
            </label>
            <label class="item item-input">
              <span class="input-label">Telefono</span>
              <input type="tel" name="phone" data-ng-model="user.Phone" required="required" maxlength="15" />
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-dark">Aceptar</button>
          </div>
        </form>
      </ion-content>
    </ion-view>
  </script>

  <script id="templates/emergency-contact.html" type="text/ng-template">
  <ion-view view-title="Contactos de Emergencia">
    <ion-content class="padding" data-ng-init="init();">
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
      <ion-item ng-repeat="item in friends" item="item" href="#/item/{{friends.Document}}" class="item-remove-animate">
        {{ item.Lastname }} {{ item.Firstname }}
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
        </ion-delete-button>
        <ion-option-button class="button-calm" ng-click="edit(item)">
          Editar
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="share(item)">
          Eliminar
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
    </ion-content>
  </ion-view>
  </script>
  <script id="templates/rate.html" type="text/ng-template">
  <ion-view view-title="Tarifario">
    <ion-content class="padding">
    <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Origen
          </div>
          <select data-ng-model="selectedOrigin" data-ng-options="rate.name for rate in rates" data-ng-change="loadDestination()">
            <option>SELECCIONAR</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Destino
          </div>
          <select data-ng-model="selectedDestination" data-ng-options="destination.name for destination in selectedOrigin.destinations" >
            <option>SELECCIONAR</option>
          </select>
        </label>
        <div class="item">
          <label class="pull-right" data-ng-bind="selectedDestination.lowPrice"></label>
          Tarifa Minima
        </div>
        <div class="item">
        <label class="pull-right" data-ng-bind="selectedDestination.highPrice"></label>
          Tarifa Maxima
        </div>
      </div>
    </ion-content>
  </ion-view>
  </script>
  <script id="templates/review.html" type="text/ng-template">
  <ion-view view-title="Evaluacion">
    <ion-content class="padding">
    <div class="list">
        <div class="item item-divider">
          En una escala del 1 al 5 como calificaria
        </div>
        <div class="item">
          <!--<div class="pull-right">
          <input type="radio" name="qualityService" data-ng-model="reviews.qualityService" value="5" />
          <input type="radio" name="qualityService" data-ng-model="reviews.qualityService" value="4" />
          <input type="radio" name="qualityService" data-ng-model="reviews.qualityService" value="3" />
          <input type="radio" name="qualityService" data-ng-model="reviews.qualityService" value="2" />
          <input type="radio" name="qualityService" data-ng-model="reviews.qualityService" value="1" />
          </div>
          Calidad del servicio

          <label class="item item-radio">
            <input type="radio" class="rating-input" id="qualityService1" name="qualityService" data-ng-model="reviews.qualityService" value="5" />
            <div class="item-content">
              5
            </div>
            <i class="radio-icon ion-star"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="qualityService" data-ng-model="reviews.qualityService" value="4" />
            <div class="item-content">
              4
            </div>
            <i class="radio-icon ion-star"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="qualityService" data-ng-model="reviews.qualityService" value="3" />
            <div class="item-content">
              3
            </div>
            <i class="radio-icon ion-star"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="qualityService" data-ng-model="reviews.qualityService" value="2" />
            <div class="item-content">
              2
            </div>
            <i class="radio-icon ion-star"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="qualityService" data-ng-model="reviews.qualityService" value="1" />
            <div class="item-content">
              1
            </div>
            <i class="radio-icon ion-star"></i>
          </label>
-->
          <div class="rating">
            <input type="radio" class="rating-input" id="qualityService1" name="qualityService" data-ng-model="reviews.qualityService" value="5" />
            <label for="qualityService1" class="rating-star" ></label>
            <input type="radio" class="rating-input" id="qualityService2" name="qualityService" data-ng-model="reviews.qualityService" value="4" />
            <label for="qualityService2" class="rating-star" ></label>
            <input type="radio" class="rating-input" id="qualityService3" name="qualityService" data-ng-model="reviews.qualityService" value="3" />
            <label for="qualityService3" class="rating-star" ></label>
            <input type="radio" class="rating-input" id="qualityService4" name="qualityService" data-ng-model="reviews.qualityService" value="2" />
            <label for="qualityService4" class="rating-star" ></label>
            <input type="radio" class="rating-input" id="qualityService5" name="qualityService" data-ng-model="reviews.qualityService" value="1" />
            <label for="qualityService5" class="rating-star" ></label>
          </div>

        </div>
        <div class="item">

          <div class="input-label">
            Trato del conductor
          </div>
          <div class="rating">
          <input type="radio" class="rating-input" id="driverAttention1" name="driverAttention" data-ng-model="reviews.driverAttention" value="5" />
          <label for="driverAttention1" class="rating-star"></label>
          <input type="radio" class="rating-input" id="driverAttention2" name="driverAttention" data-ng-model="reviews.driverAttention" value="4" />
          <label for="driverAttention2" class="rating-star"></label>
          <input type="radio" class="rating-input" id="driverAttention3" name="driverAttention" data-ng-model="reviews.driverAttention" value="3" />
          <label for="driverAttention3" class="rating-star"></label>
          <input type="radio" class="rating-input" id="driverAttention4" name="driverAttention" data-ng-model="reviews.driverAttention" value="2" />
          <label for="driverAttention4" class="rating-star"></label>
          <input type="radio" class="rating-input" id="driverAttention5" name="driverAttention" data-ng-model="reviews.driverAttention" value="1" />
          <label for="driverAttention5" class="rating-star"></label>
          </div>
          <!--
          <div class="pull-right">
          <input type="radio" name="driverAttention" data-ng-model="reviews.driverAttention" value="5" />
          <input type="radio" name="driverAttention" data-ng-model="reviews.driverAttention" value="4" />
          <input type="radio" name="driverAttention" data-ng-model="reviews.driverAttention" value="3" />
          <input type="radio" name="driverAttention" data-ng-model="reviews.driverAttention" value="2" />
          <input type="radio" name="driverAttention" data-ng-model="reviews.driverAttention" value="1" />
          </div>
          Trato del conductor
          -->
        </div>
        <div class="item">

          <div class="input-label">
            Limpieza del vehiculo
          </div>
          <span class="rating">
          <input type="radio" class="rating-input" id="vehicleClean1" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="5" />
          <label for="vehicleClean1" class="rating-star"></label>
          <input type="radio" class="rating-input" id="vehicleClean2" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="4" />
          <label for="vehicleClean2" class="rating-star"></label>
          <input type="radio" class="rating-input" id="vehicleClean3" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="3" />
          <label for="vehicleClean3" class="rating-star"></label>
          <input type="radio" class="rating-input" id="vehicleClean4" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="2" />
          <label for="vehicleClean4" class="rating-star"></label>
          <input type="radio" class="rating-input" id="vehicleClean5" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="1" />
          <label for="vehicleClean5" class="rating-star"></label>
          </span>
          <!--
          <div class="pull-right">
          <input type="radio" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="5" />
          <input type="radio" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="4" />
          <input type="radio" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="3" />
          <input type="radio" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="2" />
          <input type="radio" name="vehicleClean" data-ng-model="reviews.vehicleClean" value="1" />
          </div>
          Limpieza del vehiculo
          -->
        </div>
        <div class="item">

          <div class="input-label">
            Buena presencia
          </div>
          <span class="rating">
          <input type="radio" class="rating-input" id="goodPresence1" name="goodPresence" data-ng-model="reviews.goodPresence" value="5" />
          <label for="goodPresence1" class="rating-star"></label>
          <input type="radio" class="rating-input" id="goodPresence2" name="goodPresence" data-ng-model="reviews.goodPresence" value="4" />
          <label for="goodPresence2" class="rating-star"></label>
          <input type="radio" class="rating-input" id="goodPresence3" name="goodPresence" data-ng-model="reviews.goodPresence" value="3" />
          <label for="goodPresence3" class="rating-star"></label>
          <input type="radio" class="rating-input" id="goodPresence4" name="goodPresence" data-ng-model="reviews.goodPresence" value="2" />
          <label for="goodPresence4" class="rating-star"></label>
          <input type="radio" class="rating-input" id="goodPresence5" name="goodPresence" data-ng-model="reviews.goodPresence" value="1" />
          <label for="goodPresence5" class="rating-star"></label>
          </span>
          <!--
          <div class="pull-right">
          <input type="radio" name="goodPresence" data-ng-model="reviews.goodPresence" value="5" />
          <input type="radio" name="goodPresence" data-ng-model="reviews.goodPresence" value="4" />
          <input type="radio" name="goodPresence" data-ng-model="reviews.goodPresence" value="3" />
          <input type="radio" name="goodPresence" data-ng-model="reviews.goodPresence" value="2" />
          <input type="radio" name="goodPresence" data-ng-model="reviews.goodPresence" value="1" />
          </div>
          Buena presencia-->
        </div>
        <div class="item item-toggle">
          Recomendaria este conductor
          <label class="toggle toggle-assertive">
           <input type="checkbox" data-ng-model="reviews.recomend" />
           <div class="track">
             <div class="handle"></div>
           </div>
          </label>
        </div>
        <button type="button" class="button button-block button-balanced" >Aceptar</button>
      </div>
    </ion-content>
  </ion-view>
  </script>
  <script id="forgot-password-message.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Mensaje</h1>
      </ion-header-bar>
      <ion-content>
        Se envio un correo a {{user.Emal}} para recuperar la contraseña.
      </ion-content>
    </ion-modal-view>
  </script>

</body>

</html>
