/* Empty. Add your own CSS if you like */

#map {
  width: 100%;
  height: 100%;
}
#map-canvas {
  width: 100%;
  height: 400px;
  margin: 0px;
  padding: 0px
}
.scroll {
  height: 100%;
}
.feature-good {
  color: #28A54C;
}
.feature-bad {
  color: #E42012;
}
.icon-large {
  font-size: 32px;
}
.error {
  text-align: center;
  color: red;
}
.pull-right {
  float: right;
}
.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/img/star.png') 0 -16px;
    /*http://kubyshkin.ru/samples/star-rating/star.png*/
}
